# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Dylan McReynolds
	email = dmcreynolds@lbl.gov 
[safe]
	directory = /Users/dylanmcreynolds/dev/scicatlive
